#contact{
  padding-top: 80px;
  padding-bottom: 80px;
}

#contact .title-section h2{
  font-weight: bold;
  text-transform: uppercase;

}

#contact .title-section h2::before, #contact .title-section h2::after {
  content: '';
  width: 50px;
  height: 2.5px;
  background: var(--main-color-dis);
  display: inline-block;
  margin: 10px;
}

#contact  p{
  line-height: 28px;
  font-size: 16px;
}


#contact .social-links .icon {
  border: 1px solid var(--main-color-dis);
  text-align: center;
  /* background-color: var(--main-color-dis); */
  color: var(--main-color-dis);
  padding: 10px 12.5px;
  border-radius: 50px;
}

#contact .social-links .icon:hover {
  background-color: var(--main-color-dis);
  color: white;
}


#contact .info .icon-first,
#contact .info .icon-last {
  color: var(--main-color-dis);
  font-size: 30px;
}

#contact .info .icon-last {
  font-size: 25px;
}


#contact .info p {
  display:inline;

}

#contact .map{
  width:100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
}


#contact #gmap_canvas {
  overflow:hidden;
  background:none!important;
  width: 450px !important;
  height: 300px !important;
}

#contact #gmap_canvas iframe{
  border:0;
  width: 450px !important;
  height: 300px !important;
}
