<div id="contact">
  <div class="container  ">
    <div class="text-center">
      <div class="title-section">
        <h2>NOUS CONTACTER</h2>
      </div>
      <div class="content text-left pt-3">
        <div class="row">
          <div class="col-lg-4 ">
            <h3>Onesyly Consulting</h3>
            <p>Consulting et accompagnement de projets grâce à nos expertises tech & innovation. </p>
            <p>Nous vous aidons à réussir votre transformation digitale.</p>
            <div class="social-links">
              <div class="d-flex flex-row">
                <div class=" mx-2">
                  <a href="https://www.twitter.com/"><i class="fa fa-twitter icon" ></i></a>
                </div>
                <div class="mx-2">
                  <a href="https://www.facebook.com/"><i class="fa fa-facebook icon" ></i></a>
                </div>
                <div class="mx-2">
                  <a href="https://www.instagram.com/"><i class="fa fa-instagram icon" ></i></a>
                </div>
                <div class="mx-2">
                  <a href="https://www.linkedin.com/"><i class="fa fa-linkedin icon" ></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 ">
            <div class="info">
              <div class="row my-4">
                <div class="col-2">
                  <i class="fa fa-map-marker icon-first " ></i>
                </div>
                <div class="col-10">
                  <p class="">
                    Onesyly Consulting
                    10 rue de Penthièvre
                    75008, Paris</p>
                </div>
              </div>
              <div class="row my-4">
                <div class="col-2">
                  <i class="fa fa-envelope icon-last " ></i>
                </div>
                <div class="col-10">
                  <p class=""> contact@onesyly.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="map">
                <div class="gmap_canvas">
                  <iframe style="border:0; width: 450px; height: 300px;" id="gmap_canvas" src="https://maps.google.com/maps?q=sale%20Caf%C3%A9%20Dialogue&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                  <a href="https://fmovies-online.net"></a>
                  <br>
                  <style>.map{position:relative;text-align:left;width:600px;}</style>
                  <style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
