#scroll .scroll-to-top {
  position: fixed;
  display: none;
  right: 5px;
  bottom: 5px;
  z-index: 99999;
  cursor: pointer;
  /* and a transition */
  transition: 1s;
}

/* style scroll */
#scroll .scroll-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #3498db;
  color: #fff;
  transition: all 0.4s;
}

#scroll .show {
  display: block;

}
