<div id="about">
  <div class="container-lg container-fluid  ">
    <div class="text-center animate__animated animate__fadeInUp animate__slower">
      <div class="title-section">
        <h2>QUI SOMMES NOUS?</h2>
      </div>
      <div class="content-first text-left  py-4 pb-5">
        <div class="row">
          <div class="col-lg-6 ">
            <p>Nous sommes une équipe d'ingénieurs et d'experts avec une passion pour les nouvelles technologies et leur impact sur notre quotidien.
              Nous intervenons sur des prestations telles que:</p>
            <ul>
              <li class="">
                <i class="fa fa-angle-double-right fa-lg" ></i>
                Transformation Digitale
              </li>
              <li>
                <i class="fa fa-angle-double-right fa-lg" ></i>
                Définition d'architectures IT et Data
              </li>
              <li>
                <i class="fa fa-angle-double-right fa-lg" ></i>
                Conception d'applications et produits digitaux
              </li>
            </ul>
            <p>Contactez-nous pour recevoir notre offre de service complète</p>
          </div>
          <div class="col-lg-6 ">
            <p>
              Nous avons créé Onesyly partant d'une volonté d'adresser nos clients start-ups, PME et grands groupese pour outiller la tech afin d'adresser les besoins business.
              <br>
              Nous sommes installés à Paris et intervenons en France et aussi auprès de nos clients à l'international.
              <br>
              A travers nos expertises, nous assurons le lien entre les dernières nouveautés technologiques et les problématiques rencontrées par nos clients pour assurer leur transformation digitale.
              <br>
              Vous souhaitez nous parler de vos projets? Contactez-nous!</p>
              <div class="py-3">
                <a class="learnMore" href="#contact">Nous contacter</a>
              </div>
          </div>
        </div>
      </div>
      <div class="content-second text-left ">
        <div class="row">
          <div class="col-lg-5  d-flex justify-content-center align-items-cente">
            <img class="about-img w-100"   id="hero-image" src="./assets/images/about-003.svg" alt="logo"  >
          </div>
          <div class="col-lg-7 ">
            <div class="row ">
              <div class="col-lg-6 ">
                <div class="row pr-0">
                  <div class="col-lg-2 ">
                    <i class="fa fa-smile-o about-second-icon" aria-hidden="true"></i>
                  </div>
                  <div class="col-lg-9 pr-0">
                    <h2 class="font-weight-bold">65</h2>
                    <p><b>Happy Clients</b> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 ">
                <div class="row pr-0">
                  <div class="col-lg-2 ">
                    <i class="fa fa-newspaper-o about-second-icon" aria-hidden="true"></i>
                  </div>
                  <div class="col-lg-9 pr-0">
                    <h2 class="font-weight-bold">85</h2>
                    <p><b>Projects</b> adipisci atque cum quia aspernatur totam laudantium et quia dere tan</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 ">
                <div class="row pr-0">
                  <div class="col-lg-2 ">
                    <i class="fa fa-clock-o about-second-icon" aria-hidden="true"></i>
                  </div>
                  <div class="col-lg-9 pr-0">
                    <h2 class="font-weight-bold">18</h2>
                    <p><b>Years of experience</b> aut commodi quaerat modi aliquam nam ducimus aut voluptate non vel</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 ">
                <div class="row pr-0">
                  <div class="col-lg-2 ">
                    <i class="fa fa-star about-second-icon" aria-hidden="true"></i>
                  </div>
                  <div class="col-lg-9 pr-0">
                    <h2 class="font-weight-bold">15</h2>
                    <p><b>Awards</b> rerum asperiores dolor alias quo reprehenderit eum et nemo pad der</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


