<div id="about">
  <div class="container-lg container-fluid  ">
    <div class="text-center animate__animated animate__fadeInUp animate__slower">
      <div class="title-section">
        <h2>QUI SOMMES NOUS?</h2>
      </div>
      <div class="content text-left pt-3">
        <div class="row">
          <div class="col-lg-6 ">
            <p>Nous sommes une équipe d'ingénieurs et d'experts avec une passion pour les nouvelles technologies et leur impact sur notre quotidien.
              Nous intervenons sur des prestations telles que:</p>
            <ul>
              <li class="">
                <i class="fa fa-angle-double-right fa-lg" ></i>
                Transformation Digitale
              </li>
              <li>
                <i class="fa fa-angle-double-right fa-lg" ></i>
                Définition d'architectures IT et Data
              </li>
              <li>
                <i class="fa fa-angle-double-right fa-lg" ></i>
                Conception d'applications et produits digitaux
              </li>
            </ul>
            <p>Contactez-nous pour recevoir notre offre de service complète</p>
          </div>
          <div class="col-lg-6 ">
            <p>
              Nous avons créé Onesyly partant d'une volonté d'adresser nos clients start-ups, PME et grands groupese pour outiller la tech afin d'adresser les besoins business.
              <br>
              <br>
              Nous sommes installés à Paris et intervenons en France et aussi auprès de nos clients à l'international.
              <br>
              <br>
              A travers nos expertises, nous assurons le lien entre les dernières nouveautés technologiques et les problématiques rencontrées par nos clients pour assurer leur transformation digitale.
              <br>
              <br>
              Vous souhaitez nous parler de vos projets? Contactez-nous!</p>
              <div class="pt-5">
                <a class="learnMore" href="#contact">Nous contacter</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
