#about{
  padding-top: 80px;
  padding-bottom: 80px;
}

#about .title-section h2{
  font-weight: bold;
  text-transform: uppercase;

}


#about .title-section h2::before, #about .title-section h2::after {
  content: '';
  width: 50px;
  height: 2.5px;
  background: var(--main-color-dis);
  display: inline-block;
  margin: 10px;
}

#about  p,
#about  p{
  line-height: 28px;
  font-size: 16px;
}

#about .content-first .textLeft ul {
  list-style-type: none;
  padding-left: 0px;
}

#about .content-first .textLeft ul li {
  margin-top: 10px;
  padding-left: 28px;
}

#about .content-first .textLeft ul i {
color: var(--main-color-dis);
}

#about .learnMore {
  border: 2px solid var(--main-color-dis);
  text-align: center;
  /* background-color: var(--main-color-dis); */
  color: var(--main-color-dis);
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400 !important;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
}

#about .learnMore:hover {
  background-color: var(--main-color-dis);
  color: white;
}


#about .content-second .about-second-icon {
  font-size: 2.5em;
  color: var(--main-color-dis);
}


