<div id="hero" class="">
<div class="container-lg container-fluid">
  <div class="row ">
    <div class="col-lg-6 order-2 order-lg-1 ">
        <h1 class="mt-3">Guider votre transformation digitale</h1>
        <h4 class=" my-4 color-dark">Nos expertises tech pour construire votre business de demain</h4>
        <div class="pt-5">
          <a class="learnMore" href="#">En savoir plus</a>
        </div>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 d-flex justify-content-center">
        <img id="hero-image" src="./assets/images/hero-002.png" alt="logo"  class="hero-img">
    </div>
  </div>
</div>
</div>
