<div id="footer">
  <div class="container-lg container-fluid py-4">
    <div class="row animate__animated animate__fadeInUp animate__slower animate__slower">
      <div class="col-sm-4">
        © Copyright <span class="font-weight-bold">Distinktec Consulting.</span> Tous droits reservés
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-5 navbar">
        <div class="d-flex justify-content-between my-3 my-lg-0">
          <a href="#hero" class="item">Accueil</a>
          <a href="#about" class="item">Qui sommes nous</a>
          <a href="#hero" class="item">Privacy Policy</a>
          <a href="#hero" class="item">Terms of Use</a>
        </div>
      </div>
    </div>
  </div>
</div>

