#footer{
  box-shadow: 15px 15px 15px 15px rgb(0 0 0 / 10%);
}

#footer .navbar .item{
  margin-left: 5px;
  margin-right: 5px;
}

#footer .navbar .item:focus,
#footer .navbar .item:hover {
  color: #3498db;
}

