/* start login section */

#login .w-30 {
  width: 33%!important;
}

#login .logo img{
  max-height: 50px;
}

#login .main .col-form-label{
  text-align: start;
}



#login .main .input-group{
  transition: border-color .2s cubic-bezier(.785,.135,.15,.86) 0s;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,roboto,Helvetica Neue,helvetica,arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  border: 1px solid #d6d9de;
  box-sizing: border-box;
  border-radius: 9px;
  /* padding: 0 20px 0 36px; */
  height: 40px;
  color: #2a2e34;
}

#login .main .input-group-text {
  min-width: 40px;
  background-color: transparent;
  border: 0px;
}

#login .main input.form-control{
  border: 0px;
  color: transparent;
  border-radius: 0px 9px 9px 0px;
}

#login .main-bg{
  position: absolute;
  height: calc(100% - 17vh);
  width: 100%;
  top: 17vh;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  background: url(../../../assets/images/login-bg-color.svg) center 10px no-repeat;
  background-size: cover;
}
#login .main-bg:before {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  height: 300%;
  top: -100%;
  left: -50%;
  background-image: url(../../../assets/images/login-bg-dots.svg);
  transform: rotate(-28deg);
}
#login .main-bg:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../../assets/images/login-bg-top.svg) center top no-repeat;
  background-size: 100%;
}

#login  .navbar .navbar-nav .btn-signup,
#login .main button.btn-submit{
  background-color: #3498db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 700;
  transition: transform .2s cubic-bezier(.785,.135,.15,.86),background-color .2s cubic-bezier(.785,.135,.15,.86);
  letter-spacing: .4px;
  padding: 13px 20px;
  color: #fff;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 8px 18px #6cb9ec; /*#7b68ee80; */
  border: 0px;
}
#login .main button.btn-submit{
  padding: 15px !important;
}

#login .lien-signup{
  color: #3498db;
}
/*--------- start contient ---------*/
img.logo{

  width: 85px;
  height: auto;
}

img.ministry-logo{

  width: 100%;
  height: auto;
}

img.school-img{
  width: 100%;
  height: 400px;
}

.login-rigth{
  background: #eef0f86b;/* #F3F6F9; */
  color: var(--third-color-dis);
}


.card-title{
  color: var(--third-color-dis);
}


.card-sub-title{
  line-height: 10px;
  font-size: 0.7rem;
}

.title-forgot-password,.title-inscrit{
  font-size: 0.8rem;
}




@media (min-width: 576px)
{
  .col-sm-4 {
      flex: 0 0 40%;
      max-width: 40%;
  }
  .col-sm-8 {
      flex: 0 0 60%;
      max-width: 60%;
  }
}

.msgError{
  font-size: small;
  padding: 3px;
}
/* end login section */


/*------------------- i18n-arabe -----------------------*/
/* .i18n-arb */
.title-rigth{
color: var(--main-color-dis);
}

.i18n-ar .title-rigth {
font-size: xxx-large;
}

.text-rigth{
color: var(--third-color-dis);
}

.i18n-ar .text-rigth {
font-size: x-large;
}

.navLang ul li {
font-size: 0.8rem;
line-height: 1rem;
text-transform: uppercase;
display: inline-block;
vertical-align: middle;
}

.i18n-ar .navLang ul li {
font-size: 1rem;
}
.navLang ul li:last-child:before {
content: "";
display: inline-block;
vertical-align: middle;
height: 1rem;
width: .5px;
background: #abb5ce;
margin: .5rem;
}

.navLang ul li span {
display: inline-block;
vertical-align: middle;
color: #abb5ce;
}

.navLang ul li span.currentLang {
font-weight: 700;
color: var(--main-color-dis);
}
