<div id="services">
  <div class="container pt-5 ">
    <div class="text-center">
      <div class="title-section">
        <h2>SERVICES</h2>
        <p class="mt-3 mb-4 h6 text-muted">Nos services:</p>
      </div>
      <div>
        <div class="card-group text-left">
          <div class="card mx-3 border-0 rounded-1 shadow py-3">
            <div class="card-body">
              <div class="card-title ">
                <i class="fa fa-file-text-o icon" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">Consulting</h5>
              <p class="card-text">Comprendre vos enjeux business et utiliser les outils tech pour trouver des solutions innovantes et adaptées.</p>
            </div>
          </div>
          <div class="card mx-3 border-0 rounded shadow py-3">
            <div class="card-body">
              <div class="card-title">
                <i class="fa fa fa-dribbble icon" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">Digital Factory</h5>
              <p class="card-text">Nous produisons les applications que vous imaginez avec notre équipe : Product, UX/UI Design, développement, QA, Infra et Delivery.</p>
            </div>
          </div>
          <div class="card mx-3 border-0 rounded shadow py-3">
            <div class="card-body">
              <div class="card-title">
                <i class="fa fa fa-globe icon" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">Outsourcing</h5>
              <p class="card-text">Notre pôle de développement offshore pour appuyer vos projets de développement et test.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
