#services{
  padding-top: 80px;
  padding-bottom: 80px;
}

#services .title-section h2{
  font-weight: bold;
  text-transform: uppercase;

}


#services .title-section h2::before, #services .title-section h2::after {
  content: '';
  width: 50px;
  height: 2.5px;
  background: var(--main-color-dis);
  display: inline-block;
  margin: 10px;
}

#services .fa.icon{
font-size: 30px;
background: var(--main-color-dis);
color: white;
padding: 10px 13px;
border-radius: 50px;
}


#services .content-first .card-group p{
  line-height: 28px;
  font-size: 16px;
}

#services .content-first .card{
  box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
}

#services .content-first .card::before {
  content: '';
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.6s;
  z-index: -1;
}

#services .content-first .card:hover{
  color: white;
}

#services .content-first .card:hover::before {
  background-color: var(--main-color-dis);
  color: white !important;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}



#services .content-first .card:hover .fa.icon{
  color: var(--main-color-dis);
  background: white;
}


#services .content-second .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#services .content-second .card .card-body{
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 5px;
}


#services .content-second .card:hover .card-body{
  background: var(--main-color-dis);
  color: white;
  transition: 0.3s;
  transition: ease-in-out 0.4s;
}

#services .content-second .card:hover .card-text,
#services .content-second .card:hover .card-title,
#services .content-second .card:hover .read-more a{
  color: white !important;
  transition: 0.25s;
  transition: ease-in-out 0.35s;
}
