<div id="services">
  <div class="container-lg container-fluid ">
    <div class="text-center animate__animated animate__fadeInUp animate__slower">
      <div class="title-section">
        <h2 class="text-uppercase">SERVICES</h2>
        <p class="mt-3 mb-4 h6 text-muted">Nos services:</p>
      </div>
      <div class="content-first pb-5">
        <div class="card-group text-left">
          <div class="card mx-3 border-0 rounded-lg shadow py-3">
            <div class="card-body">
              <div class="card-title ">
                <i class="fa fa-file-text-o icon" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">Consulting</h5>
              <p class="card-text">Comprendre vos enjeux business et utiliser les outils tech pour trouver des solutions innovantes et adaptées.</p>
            </div>
          </div>
          <div class="card mx-3 border-0 rounded-lg shadow py-3">
            <div class="card-body">
              <div class="card-title">
                <i class="fa fa fa-dribbble icon" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">Digital Factory</h5>
              <p class="card-text">Nous produisons les applications que vous imaginez avec notre équipe : Product, UX/UI Design, développement, QA, Infra et Delivery.</p>
            </div>
          </div>
          <div class="card mx-3 border-0 rounded-lg shadow py-3 ">
            <div class="card-body">
              <div class="card-title">
                <i class="fa fa fa-globe icon" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">Outsourcing</h5>
              <p class="card-text">Notre pôle de développement offshore pour appuyer vos projets de développement et test.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="content-second">
        <div class="row mx-1">
          <div class="col-lg-6 mt-4">
            <div class="card" style="background-image: url('./assets/images/services-001.jpg');">
              <div class=" d-flex align-items-end">
                <div class="card-body text-dark text-left rounded-lg ">
                  <h5 class="card-title text-center font-weight-bold">Card title</h5>
                  <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="read-more">
                    <a href="#">
                      <i class="fa fa-long-arrow-right "></i>
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="card" style="background-image: url('./assets/images/services-002.jpg');">
              <div class=" d-flex align-items-end">
                <div class="card-body text-dark text-left rounded-lg ">
                  <h5 class="card-title text-center font-weight-bold">Card title</h5>
                  <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="read-more">
                    <a href="#">
                      <i class="fa fa-long-arrow-right text-sm"></i>
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="card" style="background-image: url('./assets/images/services-003.jpg');">
              <div class=" d-flex align-items-end">
                <div class="card-body text-dark text-left rounded-lg ">
                  <h5 class="card-title text-center font-weight-bold">Card title</h5>
                  <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="read-more">
                    <a href="#">
                      <i class="fa fa-long-arrow-right "></i>
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="card" style="background-image: url('./assets/images/services-004.jpg');">
              <div class=" d-flex align-items-end">
                <div class="card-body text-dark text-left rounded-lg ">
                  <h5 class="card-title text-center font-weight-bold">Card title</h5>
                  <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="read-more">
                    <a href="#">
                      <i class="fa fa-long-arrow-right "></i>
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
