<div class="wrapper">

  <!-- ## Start Header ## -->
  <app-header></app-header>
  <!-- ## End Header ##  -->


  <!-- ## Start Main ##  -->

    <!-- Start Hero setcion  -->
    <app-hero></app-hero>
    <!-- End Hero setcion  -->

    <!-- Start Services setcion  -->
    <app-services></app-services>
    <!-- End Services setcion  -->

    <!-- Start Features setcion  -->
    <app-features></app-features>
    <!-- End Features setcion  -->

    <!-- Start Testimonials setcion  -->
    <app-testimonials></app-testimonials>
    <!-- End Testimonials setcion  -->

    <!-- Start Portfolio setcion  -->
    <app-portfolio></app-portfolio>
    <!-- End Portfolio setcion  -->

    <!-- Start Team setcion  -->
    <app-team></app-team>
    <!-- End Team setcion  -->

    <!-- Start About setcion  -->
    <app-about></app-about>
    <!-- End About setcion  -->

    <!-- Start Contact setcion  -->
    <app-contact></app-contact>
    <!-- End Contact setcion  -->

  <!-- ## End Main ##  -->


  <!-- ## Start footer ##  -->
  <app-footer></app-footer>

  <!-- start scroll buttom section -->
  <app-scroll></app-scroll>
  <!-- end scroll buttom section -->

  <!-- ## End footer ##  -->



  </div>
