<div class="wrapper">

  <!-- ## Start Header ## -->
  <app-header></app-header>
  <!-- ## End Header ##  -->


  <!-- ## Start Main ##  -->

    <!-- Start Hero setcion  -->
    <app-hero></app-hero>
    <!-- End Hero setcion  -->

    <!-- Start Services setcion  -->
    <app-services></app-services>
    <!-- End Services setcion  -->

    <!-- Start About setcion  -->
    <app-about></app-about>
    <!-- End About setcion  -->

    <!-- Start Contact setcion  -->
    <app-contact></app-contact>
    <!-- End Contact setcion  -->

  <!-- ## End Main ##  -->


  <!-- ## Start footer ##  -->
  <app-footer></app-footer>
  <!-- ## End footer ##  -->

  </div>
