<div id="portfolio">
  <div class="container-lg container-fluid ">
    <div class="text-center animate__animated animate__slow animate__fadeInUp">
      <div class="title-section ">
        <h2 class="text-uppercase">PORTFOLIO</h2>
        <p class="mt-3 mb-4 h6 text-muted">Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
      </div>
      <div class="content-init animate__animated animate__slow animate__fadeInUp">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <ul id="portfolio-filter">
              <ng-container *ngFor="let item of listTag">
                <li (click)="filterBytag(item)" class="text-capitalize" [ngClass]="currentTag == item ? 'portfolio-filter-active':''">{{item}}</li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      <div class="content-first animate__animated animate__slow animate__fadeInUp">
        <div class="row">
          <ng-container *ngFor="let item of listPortfolioProcess">
            <div class="col-lg-4 col-md-6 portfolio " [ngClass]="currentTag != 'all' && item.tag != currentTag ? 'd-none':''">
              <div class="portfolio-item my-3 animate__animated animate__zoomIn">
                <img class="portfolio-img img-fluid"  src="./assets/images/{{item.imgPath}}">
                <div class="portfolio-info">
                  <h4>{{item.title}}</h4>
                  <p class="text-uppercase">{{item.tag}}</p>
                  <div class="portfolio-links">
                    <a href="./assets/images/{{item.imgPath}}" title="{{item.title}}">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
