/* You can add global styles to this file, and also import other style files */
:root {

  --main-color-dis: #3498db;

}

html {
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  font-size: 1rem;
  line-height: 1;
  /* background: var(--fourth-color-dis); */
  /* color: var(--sixth-color-dis); */
}



/*---- strat style tag a -----*/
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  /* color: var(--first-color-dis); */
}

a {
  /* color: var(--third-color-dis); */
  text-decoration: none;
  background-color: transparent;
}

/*---- strat style animate -----*/
.animate__animated.animate__slower__max {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-duration: calc(var(--animate-duration)*10);
  animation-duration: calc(var(--animate-duration)*10);
}



/*---- end style animate -----*/


/* ----- start override bootstrap ----- */


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1425px; /*1350px;*/
}
 }


/* ----- end override bootstrap ----- */
